#info-section p {
    width: 35%;
}

.input-line {
    background-color: transparent;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black 2px;
    padding-top: 1.3vh;
    margin-bottom: 1vh;
}

#Logo-image img{
    width: 40%;
    height: 40%;
    margin: 0 0 5px 40%;
}
.line-form{
    margin: 1% 2% -10% 5%;
    zoom: 0.9;
}
.line-form p{
    padding-top: 8%;
    margin-right: 5%;
}

#Group{
    margin-top: 3%;
}

#Officials{
    margin-top: 30px;
}

#Officials span{
    padding-top: 5%;
    margin-right: 2px;
    width: 30%;
}

#Officials p{
    margin-bottom: 0px;
}

#Officials .line-form{
    margin-bottom: 0px;
}

#Officials .flexed-row{
    margin-bottom: -2vh;
}
#Notes{
    max-height: 35vh;
}
#Notes h3{
    margin-bottom: 1%;
}
#Notes textarea{
    background-attachment: local;
    background-image:
            linear-gradient(to right, white 10px, transparent 10px),
            linear-gradient(to left, white 10px, transparent 10px),
            repeating-linear-gradient(white, white 30px, black 30px, #ccc 31px, white 31px);
    line-height: 4.5vh;
    padding: 1vh 1vw;
    border: 0px solid transparent;
    resize: none;
    padding-top: 0%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 2vh;
    height: 30vh;
}
#Notes textarea:focus{
    border: 0 none #FFF;
    overflow: hidden;
    outline:none;
}

#Help {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

#Help a{
    color: lightgrey;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    #Notes textarea{ 
        font-size: 14px;
        line-height: 32px;
    }
}