
.team-section{
    border-style: solid;
    border-width: thin;
    font-size: 4vh;
    zoom: 0.35;
    -moz-transform: scale(0.39);
    margin-bottom: 0%;
}
.team-section h1{
    font-weight: bold;
}

.team-top-section{
    border-style: solid;
    border-width: thin;
}

.team-bottom-section{
    border-style: solid;
    border-width: thin;
    border-color: black;
}

.stats-row .top-row{
    height: 21vh !important;
}

.stats-row h1{
    margin-top:0;
    margin-bottom:0;
}
.stats-row p{
    text-align: center;
    margin-bottom:0;
}

.flexed-row{
    display: flex;
    flex-direction: row;
}

.top-row{
    border-style: solid;
    border-width: thin;
    border-color: black;
    height: 7vh;
}

.quarter-fouls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5vh;
}

.quarter-fouls span {
    padding-right: 1vh;
}

.marked {
    position: relative;
    border-style: solid;
    border-width: 0 0px 1px 1px;
    text-align: center;
    margin: 0 0 0 0;
}
.marked:before {
    position: absolute;
    content: "";
    left: 0.5vw;
    top: 45%;
    right: 0;
    border-top: 0.5vw solid;
    border-color: inherit;
    width: 70%;

    -webkit-transform:rotate(-25deg);
    -moz-transform:rotate(-25deg);
    -ms-transform:rotate(-25deg);
    -o-transform:rotate(-25deg);
    transform:rotate(-25deg);
}
.name-col{
    width: 13%;
}

.name-col input{
    font-size: 4vh;
}

.team-name-box {
    min-width: 70%;
    max-width: 70%;
    border-style: solid;
    border-width: 0px 4px 0px 0px;
}
.fit-name{
    font-size:80%;
}
.fit-name p{
    margin-bottom: 0;
}

.jersey-number-col{
    width: 4%;
    text-align: center;
}
.jersey-number-col input{
    text-align: center;
}

.participation-col{
    width: 12%;
}

.foul-col{
    width: 10%;
}

.quarter-col{
    width: 14%;
}
.quarter-col p{
    margin: 0 0 0 0;
}

.total-col{
    width: 5%;
}

.timeOut {
    width: 6%;
    border-width: 0px 1px 0 0;
    border-style: solid;
}

.bottom-right-section{
    width: 94%;
}
.coach-section{
    width: 50%;
    border-style: solid;
    border-width: thin;
}
.coach-section p {
    flex: 0 0 auto;
}

.score-section{
    /*width: inherit;
    position:relative;*/
    display: inline;
    font-size: 4vh;
}

.marked-score{
    position: relative;
    display: inline-block;
    padding-left: 0.4vw;
    margin-bottom: 0;
    font-family: "Times New Roman";
    font-size: 4vh;
}

.unmarked-score{
    display: inline-block;
    padding-left: 0.4vw;
    margin-bottom:0;
    font-family: "Times New Roman";
    font-size: 4vmin;
}

.marked-score:before {
    position: absolute;
    content: "";
    top: 50%;
    right: -0.7vw;
    border-top: 4px solid;
    border-color: inherit;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-55deg);
    min-width: 4.5vh;
}

.boxes {
    border-style: solid;
    border-width: 0 0px 1px 1px;
    text-align: center;
    margin: 0 0 0 0;
    font-size: 4vh;
    height: 100%
}

.score-options{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5vw;
    border: 2px solid #73AD21;
    padding: 0px 2vw 2vh 2vw;
    width: 50vw;
    height: 70vh;
    background-color: ghostwhite;
}

.score-options h2{
    text-align: center;
    color: green;
    justify-content: center;
    font-weight: bold;
}

.score-options button:active {
    background-color: yellow;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.option-button{
    padding: 10px 40px;
    background: yellow;
    width: 30vw;
    height: 20%;
    border-radius: 25px;
    margin-top: 0.7vw;
    box-shadow: 0 9px #999;
    font-size: 30px;
    color:green;
    text-shadow:
            -1px -1px 0 green,
            1px -1px 0 green,
            -1px 1px 0 green,
            1px 1px 0 green;
}
.personalScore {
    font-size: 4.1vh;
    text-align: center;
    font-weight: bold;
    margin: 0 0 0 0;
}

.marked-foul{
    background-color: darkgray;
    border-bottom: 0.5px solid black;
    color: white;
    font-size: 4vh;
    margin-bottom: 0px;
    text-align: center;
    font-family: Impact;
}

.marked-team-foul {
    position: relative;
}

.marked-team-foul:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 50%;
    right: 0;
    border-top: 2px solid;
    border-color: inherit;

    -webkit-transform:rotate(-25deg);
    -moz-transform:rotate(-25deg);
    -ms-transform:rotate(-25deg);
    -o-transform:rotate(-25deg);
    transform:rotate(-25deg);
}


@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }

    .marked-foul, marked-foul * {
        background-color: black !important;
        border-bottom: 0.5px solid black !important;
        color: white !important;
        font-size: 25px !important;
        margin-bottom: 0px !important;
        text-align: center !important;
        font-family: Impact !important;
    }
}

#empty-space {
    min-height: 2vh;
    border-left: solid;
}


div[contenteditable]{
    border: 0px solid black;
    height: 15vh;
    word-wrap: break-word;
    overflow: auto;
    font-size: 5vh;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .coach-section{
        height: 10px;
    }
    .coach-section input{
        font-size: 8px
    }
    .team-name-box h1{
        font-size: 14px;
    }
    .fit-name{
        background: red;
        padding-top: 0px;
        display: flex;
    }
    .name-col input{
        font-size: 8px;
        height: 100%
    }
    .jersey-number-col input{
        font-size: 10px;
    }
    .stats-row b{
        font-size: 12px
    }
    .input-color{
        font-size: 9px !important;
    }
    .unmarked-score {
        font-size: 10px
    }
    .marked-score {
        font-size: 10px
    }
    .personalScore {
        font-size: 11px;
    }
    .total-col{
        padding-bottom: 5px;
    }
    .marked-foul{
        font-size: 12px;
    }
    .bottom-right-section .coach-section{
        min-height: 40px;
    }
    .timeOut .flexed-row .boxes{
        min-height: 40px;
    }
    .score-options{
        position: fixed !important;
        top: 500px !important;
        left: 800px !important;
        width: 1200px;
        height: 800px;
    }
    .score-options button {
        min-width: 500px !important;
    }
    div[contenteditable]{
        border: 1px solid black;
        height: 14vh;
        font-size: 12px;
    }
    #empty-space {
    min-height: 5px;
    border-left: solid;
    }
}